{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}View my events{% endblock %}  
  
{% block content %}  
  
<div class="container">  
    <div class="row">  
        <div class="col-md-10 col-md-offset-1">  
            <div class="col-md-9 col-md-offset-1">  
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Owner Name</th>
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new owner</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for owner in owners %}  
                        <tr>  
                            <td> {{owner.user.name}}</td>  
                            <!-- <td><a href="/rsvp/edit/?id={{event.id}}">Edit</a></td>    -->
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table> 
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Vendor Name</th>  
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new vendor</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for vendor in vendors %}  
                        <tr>  
                            <td>  {{ vendor.user.name }}  </td>  
                            <!-- <td><a href="/rsvp/edit/?id={{order.id}}">Edit</a></td>    -->
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table> 
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Guest Name</th>  
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new guest</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for guest in guests %}  
                        <tr>  
                            <td>  {{ guest.user.name }}  </td>  
                            <!-- <td><a href="/rsvp/edit/?id={{order.id}}">Edit</a></td> -->   
                        </tr> 
                        {% endfor %}  
                    </tbody>  
                </table>      
            </div> 
        </div>  
    </div> 
    <form method="POST" role="form" class="form-horizontal" id="post-form">  
        {% csrf_token %}  
        <h1 class="form-signin-heading text-center">New Question</h1>  
        <div class="col-md-7 col-md-offset-2">  
            <input type="text" class="form-control" required name="question_text" id="the_post" autofocus="">  
        </div>    
        <div class="col-md-2">
        <input type="submit" value="Add" class="btn btn btn-primary btn-block" id="btn">
        </div>
        <!-- <button class="btn btn btn-primary btn-block" onclick="myFunction()">add</button> -->
    </form> 
    <div class="col-md-9 col-md-offset-1"> 
        <table class="table table-hover" id="questions_table">  
            <thead>
                <th>Text Questions</th>  
            </thead>  

            <tbody>  
                {% for tq in text_questions %}  
                    <tr>  
                        <td>  <li><strong>{{ tq.question_text }}</strong></li> </td>   
                    </tr> 

                {% endfor %}  
                    </tbody>

                </table>  
        </div>
</div>  
 {% block javascript %}
    <script>
    $('#post-form').on('submit',function(e){
        console.log("click submit on event")
        e.preventDefault()
        $.ajax({
            url: '/rsvp/create_question/?id={{event.id}}',
            type: "POST",
            data: {
                'question_text':$('#the_post').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
                $('#the_post').val('')
                $("#questions_table").prepend("<tr><td><li><strong>"+data.text+"</strong></li></td></tr>")
            }
        })
    });
    </script>
  
{% endblock %} 


{% endblock %}